.mejores-platos li img{
    width: 12em;
    height: 12em;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 5px;
}

.mejores-platos{
    list-style: none;
    display: flex;
    gap: 1%;
    background-color: rgb(235, 204, 118);
    padding: 20px;
    border-radius: 5px;
    margin-top: 0px;
    justify-content: center;
}

.footer{
    list-style: none;
    display: flex;
    gap: 6%;
    justify-content: center;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
    padding: 5px;
}

.platos-recomendados li img{
    width: 12em;
    height: 12em;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 5px;
}

.platos-recomendados{
    list-style: none;
    display: flex;
    gap: 1%;
    background-color: rgb(235, 204, 118);
    padding: 20px;
    border-radius: 5px;
    margin-top: 0px;
    justify-content: center;
}

body{
    background-color: rgb(208, 233, 188);
    margin: 0;
    padding: 0;
}

header, footer ul{
    background-color: rgb(226, 151, 38);
}

.titulo{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    font-family: 'Berlin Sans FB';
    font-weight: lighter;
    font-size: 3em;
}

.subt1, .subt2{
    font-family: Tahoma;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: rgb(226, 151, 38);
    margin-left: 4em;
}

.foottext{
font-family: 'Bell MT';
font-size: large;
font-style: italic;
}


@media screen and (width <= 768px) {
    .mejores-platos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .platos-recomendados{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}